// Colors pallet
$very-dark-gray: #515151;
$mostly-black: #2c2c2c;
$strong-pink: #b4186e;
$soft-gray: #a6a6a6;
$soft-blue: #497fdf;
$soft-magenta: #df82e2;

// Colors use
$background: $very-dark-gray;
$gradient-start: $very-dark-gray;
$gradient-end: $mostly-black;
$text-menu: $soft-gray;
$text-base: $soft-gray;
$text-title: $strong-pink;
$text-highlight: $strong-pink;
$text-link: $soft-blue;
