article {
  margin-bottom: 40px;

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-family: "Chiller", cursive;
    font-size: 1.8em;
    text-align: center;
  }

  span.cursive {
    font-family: "Curlz MT", cursive;
    font-size: 1.2em;
  }

  img,
  iframe {
    display: block;
    margin: 0 auto;
  }

  p {
    img {
      margin-top: 1rem;
    }
  }

  .img-wrapper {
    display: flex;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    justify-content: center;
  }

  .image-strip {
    background-size: 1000% 100%;
    width: 48px;
    height: 270px;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-left: 16px;
    flex-shrink: 0;
  }

  .img-wrapper:hover .image-strip {
    margin-left: 0;
  }

  .image-first {
    margin-top: 0.2rem;
  }

  .image-left {
    float: left;
    margin: 0.2rem 1rem 0.2rem 0;
    width: 260px;
    height: auto;
  }

  .image-right {
    float: right;
    margin: 0.2rem 0 0.2rem 1rem;
    width: 260px;
    height: auto;
  }

  &.special-entreprise {
    h3 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.2em;
    }
    .video-stamp {
      position: relative;
      img {
        position: absolute;
        top: -4rem;
        left: -3rem;
        transform: rotate(-35deg);
        width: 150px;
        height: 150px;
      }
      iframe {
        margin-top: 5rem;
      }
    }
  }
}
