@font-face {
  font-family: "Chiller";
  src: url("../fonts/CHILLER.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Curlz MT";
  src: url("../fonts/CurlzMT.ttf") format("truetype");
  font-display: swap;
}
