@use "colors";

.menu-burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  position: fixed;
  right: 20px;
  top: 15px;
  z-index: 2;
  cursor: pointer;

  span {
    width: 2rem;
    height: 0.25rem;
    background-color: colors.$strong-pink;
    border-radius: 4px;
  }

  @media (max-width: 768px) {
    display: flex;
  }
}

#navbar {
  display: none; // Hide the navbar on small screens by default
  position: sticky;
  width: 0;

  @media (min-width: 769px) {
    display: block; // Show the navbar on larger screens
    top: 2px;
    width: 13rem;
    align-self: flex-start;
  }

  &.active {
    // This class will be added/removed using JS
    transform: translateX(0%);
  }
}

section {
  &.menu {
    nav {
      padding-top: 1rem;
      a {
        position: relative;
        display: block;

        padding: 1rem 0 0.5rem 1rem;

        letter-spacing: 1.5px;
        font-weight: 300;
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: colors.$text-menu;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 0;
          background-color: colors.$text-title;
          transition: width 0.3s ease-in-out;
        }

        &:hover,
        &.active {
          color: colors.$text-highlight-pink;
          &::before {
            width: 100%;
          }
        }

        &:nth-child(1) {
          padding-top: 0;
        }
      }
    }
  }
}
