@use "colors";
@use "menu";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  background-color: colors.$background;
  min-height: 100vh;
  color: colors.$text-base;
}

a {
  color: colors.$text-base;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .menu__label {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
    font-size: 2rem;
    cursor: pointer;
  }
}

// Main content
section {
  span.highlight {
    background-color: colors.$text-highlight;
    color: colors.$background;
    padding: 0.6rem 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  &.content {
    flex-grow: 1;
    padding: 1rem 13.5rem;
    text-align: justify;
    background-image: linear-gradient(
      to bottom,
      colors.$gradient-start,
      colors.$gradient-end
    );

    h1 {
      text-align: center;
      font-size: 2rem;
      letter-spacing: 1px;
      margin: 0;
      padding: 0;
      color: colors.$text-title;
    }

    img.logo {
      float: left;
      width: 200px;
      margin-right: 1rem;
    }

    p {
      margin-bottom: 1rem;
    }

    img.girl-bag {
      position: fixed;
      bottom: 0;
      right: 2rem;
      z-index: 10;
      width: 9rem;
      height: auto;
    }
  }
}
