@use "fonts";
@use "colors";
@use "menu";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  color: colors.$text-base;
  background-image: linear-gradient(
    to bottom,
    colors.$gradient-start,
    colors.$gradient-end
  );
  min-height: 100vh;
}

a {
  color: colors.$text-link;
}

main {
  display: flex;
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}

section {
  span.highlight {
    color: colors.$background;
    padding: 0.4rem 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;

    &.pink {
      background-color: colors.$text-highlight-pink;
    }
    &.blue {
      background-color: colors.$text-highlight-blue;
    }
    &.magenta {
      background-color: colors.$text-highlight-magenta;
    }
  }

  &.menu {
    position: sticky;
    top: 2px;
    width: 13rem;
    align-self: flex-start;
  }

  &.content {
    padding: 1em;
    flex-grow: 1;
    min-height: 80vh;

    h1 {
      img.logo {
        float: left;
        max-width: 100%;
        width: 200px;
        margin-right: 1rem;

        @media (max-width: 768px) {
          float: none;
          display: block;
          margin: 0 auto;
          width: 35%;
        }
      }
    }

    p {
      text-align: justify;
      margin-bottom: 1rem;
    }
  }
}

footer {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  border-top: 1px solid colors.$soft-gray;
  p {
    text-align: center;
    font-size: 0.8rem;
  }
}
