@use "colors";
@use "menu";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  background-color: colors.$background;
  color: colors.$text-base;
}

a {
  color: colors.$text-base;
}

// Structure
main {
  background-image: linear-gradient(
    to bottom,
    colors.$gradient-start,
    colors.$gradient-end
  );

  .container {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;
  }
}

// Content
section {
  span.highlight {
    background-color: colors.$text-highlight;
    color: colors.$background;
    padding: 0.4rem 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  &.content {
    padding: 1rem 13.5rem;
    text-align: justify;

    h1 {
      margin: 0;
      padding: 0;
    }

    img.logo {
      float: left;
      width: 200px;
      margin-right: 1rem;
    }

    p {
      margin-bottom: 1rem;
    }

    img.girl-bag {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 10;
      width: 9rem;
      height: auto;
    }
  }
}
